/* Main Content Styles */
.content {
    padding: 50px;
    width: calc(100% - 270px);
}
.card {
    background: #F3F4F6;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.status {
    background: #E0E7FF;
    padding: 15px;
    border-radius: 8px;
}

.info-container {
    display: flex;
}
